.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url(../../public/images/admin\ bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 🔥 important */
}

/* HEADER */

.admin-container .admin-header{
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
 align-items: center;
  justify-content:space-between;
  padding: 20px;
}
.admin-container .admin-header img{
 border-radius: 30px;
}
.admin-container .admin-header .admin-header-links{
  display: flex;
  gap: 40px;
  align-items: center;
   background-color: transparent;
  backdrop-filter: blur(30px);
  padding: 10px 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;

}

.admin-container .admin-banner .page-title{
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin: 0;
 
}

/* SCROLL AREA */
.admin-container .content-area {
  flex: 1;
  overflow-y: auto;
  width: 80%;
  margin: auto;
  padding: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

/* Hide scrollbar */
.admin-container .content-area::-webkit-scrollbar {
  display: none;
}