.users-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100%;
}

.users-page h2 {
  /* margin-bottom: 10px; */
  color: #fff;
}

.users-table-container {
  overflow-x: auto; /* horizontal scroll for small screens */
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
  backdrop-filter: blur(50px);
}

.users-table th,
.users-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  color: #fff;
}

.users-table th {
  background-color: #111d34;
  font-weight: 600;
  border: 1px solid #ddd;
}

.status-btn {
  margin-right: 8px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.status-btn.active {
  background-color: #ef4444; /* red for block */
}

.status-btn.blocked {
  background-color: #10b981; /* green for unblock */
}



